[Unit]
Description=Intelligent monitor brightness control

[Service]
Type=dbus
BusName=com.github.jcrd.lighten
ExecStart=/usr/bin/lightend
Restart=always

[Install]
WantedBy=default.target
